.intro-section{
    padding-left: 20px;
    display: flex;
    background-color:  rgb(20,20,20);
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    flex-direction: row;
}

.intro-details{
    display: flex;
    flex: 3;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
}

.intro-logo{
    /* display: flex; */
    width: 10%;
    padding: 30px;
    border-radius: 100px;
    flex: 1;
    transition: .15s;
    align-self: end;
}

.intro-featured-playlists{
    display: flex;
    color: black;
    font-weight: bold;
    border-radius: 30px;
    background-color: #38b6ff;
    padding: 9px;
    transition: .15s;
    align-items: self-start;
}

.intro-featured-playlists:hover{
    padding: 20px;
    background-color: #0062ff;
    font-size: 20px;
}

.lottie-animation{
    display: flex;
    justify-content: center;
    flex: 0.5;
    align-self: center;
}

.review-and-form{
    margin-top:15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:rgb(20,20,20);
    padding: 20px;
    border-radius: 20px;
    column-gap: 15px;
}

.review-grid{
    display: grid;
    grid-template-columns: 50px 200px 1fr;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    row-gap: 15px;
    transition: .3s;
}

.review-grid:hover{
    color: black;
    background-color: #38b6ff;
}

.profile-picture{
    width:40px;
    height:40px;
    margin-top: 15px;
    object-fit: cover;
    border-radius: 20px;
}

.user-title{
    font-weight:900;
    margin-bottom: 5px;
    margin-top: 15px;
    color: #0062ff;
}


.user-author , .user-stats{
    /* color: rgb(0, 0, 0); */
    margin: 2px;
}

.form{
    background-color: black;
    border-radius: 20px;
    padding: 20px;
}

.form-fieldset{
    border-radius: 20px;
    color:#38b6ff;
    border-color: #0062ff;
    padding: 10px;
}

.form-input{
    color:white;
    border-color: #38b6ff;
    border-radius: 10px;
    background-color: rgb(20,20,20);
    padding: 5px;
}

.form-button{
    background-color: #38b6ff;
    border:none;
    border-radius:10px;
    padding: 3px;
    transition: .3s;
}

.form-button:hover{
    background-color: red;
    padding: 10px;
    border-radius: 20px;
    font-size: large;
}

.footer{
    margin-top:15px;
    background-color:rgb(20,20,20);
    padding: 20px;
    border-radius: 20px;
}

.social-media{
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-top: 30px;
}

.social-icon{
    width: 50px;
    transition: .15s;
}

.social-icon:hover{
    width: 80px;
    cursor: pointer;
}

.end-text{
    color: gray;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
